#root,
body,
html {
	/* background: linear-gradient(rgba(59, 59, 59, 0.5), rgba(47, 46, 46, 0.6)),
		url(../../assets/images/background_image.jpg); */
	background-size: cover;
	height: 100%;
	min-height: 100vh;
	background-position: center;
}

.page{
	background: linear-gradient(rgba(59, 59, 59, 0.5), rgba(47, 46, 46, 0.6)),
		url(../../assets/images/background_image.jpg);
	background-size: cover;
	height: 100%;
	min-height: 100vh;
	background-position: center;
}